@page
@model IndexModel
@{
}

<!-- HEADER -->
<div class="jumbotron jumbotron-fluid crf-hero d-flex">
    <div class="container d-flex flex-column justify-content-right align-items-sm-stretch align-items-md-right">
        <h1 class="col-sm-12">The best deals</h1>
        <h2>20% OFF</h2>
        <p class="lead">THROUGHOUT THE SEASON</p>
    </div>
</div>

<!-- SALE BANNER -->
<div class="container crf-cigar-banner">
    <div class="row orange-border">
        <a href="/CurrentPromotion">
            <div class="crf-cigar-banner--container d-flex justify-content-right align-items-right">
                <img alt="bannerVelo" class="order-sm-0 order-md-0 img-fluid" width="350" height="205" src="https://thoemus-bikeworld.ch/cdn/shop/files/Bikeworld_Digital_2048x1024_80f9f3a1-f5c4-4039-b0f0-0baaa71de9a4.png?v=1748243086&width=1750">
                <div class="crf-cigar-banner--text order-sm-2 order-md-3">
                    <div class="text-light">Couples retreat weekend</div>
                    <div class="text-secondary">Save an extra up to 80%</div>
                </div>
            </div>
        </a>
    </div>
</div>

<!-- STORIES -->
<div class="container crf-story">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <a href="#">
                <div class="crf-story--image"><img alt="Splash Chic" src="https://thoemus-bikeworld.ch/cdn/shop/files/addictRc.png?v=1740726318&width=150" width="150" height="150" class="img-fluid" /></div>
                <div class="crf-story--text">
                    <h3>Road</h3>
                    <div>Bikes for every application</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6">
            <a href="#">
                <div class="crf-story--image"><img alt="Kid Klimbers" src="https://thoemus-bikeworld.ch/cdn/shop/files/Diamant-Suvea-Trip-Plus.jpg?v=1742380272&width=150" width="150" height="150" class="img-fluid" /></div>
                <div class="crf-story--text">
                    <h3>eBikes</h3>
                    <div>Bikes with more POWER</div>
                </div>
            </a>
        </div>
    </div>
</div>
